<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }
    </style>
</head>

<body>

    {{!-- NavBar --}}
    <div class="w-full">
        <header class="flex items-center justify-between bg-gray-100 text-gray-500 px-6 py-4">
            <div class="flex items-center gap-4">
                <img src="img/LogoFondoTransparente.png" alt="Company Logo" width="50" height="50" />
                <span class="font-semibold">Museo Lavalle</span>
            </div>
            <div>
                <ul class="flex items-center justify-center gap-7 text-lg font-semibold">
                       <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                        <a class="nav-link" href="{{url}}/inicio">Inicio</a>
                    </li>
                    <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                        <a class="nav-link" href="{{url}}/menu">Ver piezas</a>
                    </li>
                    <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                        <a class="nav-link" href="/public/vendimia">Gestionar</a>
                    </li>
                    <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                        <a class="nav-link" href="/public/noticias/novedades">Noticias</a>
                    </li>
                </ul>
            </div>
            <div id="toggle" class="flex items-center gap-2 p-2 pr-5 rounded-full cursor-pointer">
                <span class="relative flex h-7 w-7 shrink-0 overflow-hidden rounded-full ">
                    <img src="https://ui-avatars.com/api/?name=Julian+Álvarez" alt=""
                        class="flex h-full w-full items-center justify-center rounded-full bg-muted">
                </span>
                <span class="font-medium">Julian Álvarez</span>
                <span><svg id="dropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 9l6 6l6 -6" />
                    </svg></span>
            </div>

            {{!-- Menu Usuario NavBar --}}
            <div id="menu" class="absolute hidden top-16 right-10 z-10 w-44 h-auto">
                <div
                    class="absolute w-44 bg-white rounded-md border border-gray-400/50 shadow-md p-6 text-base font-semibold">
                    <ul class="space-y-3">
                        <li><a class="hover:text-gray-800" href="{{url}}/perfil">Editar perfil</a></li>
                        <li><a class="hover:text-gray-800" href="{{url}}/salir">Cerrar Sesión</a></li>
                        <li><button class="hover:text-gray-800">Cambiar tema</button></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>

    {{!-- Dashboard Tabla de Piezas --}}
    <div class="bg-gray-100 h-screen">
        <div class="container mx-auto py-8">
            <div class="mb-4 flex justify-between">
                <h1 class="text-3xl font-bold text-[#58595E] pl-2">Gestión de Piezas de Museo</h1>
                <div class="flex space-x-3">
                    <div
                        class="search-container flex items-center bg-gray-300 rounded-full overflow-hidden transition-all duration-300 ease-in-out w-10 h-10">
                        <div class="search-icon flex items-center justify-center w-10 h-10 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                <path d="M21 21l-6 -6" />
                            </svg>
                        </div>
                        <input
                            class="search-input w-0 bg-transparent border-none outline-none transition-all duration-300 ease-in-out px-3 py-2 hidden"
                            placeholder="Buscar..." type="text" />
                    </div>
                    <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm text-gray-700 bg-gray-300 h-10 px-4 py-2 hover:bg-[#223362] hover:text-white duration-200">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-alt">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 8h4v4h-4z" />
                            <path d="M6 4l0 4" />
                            <path d="M6 12l0 8" />
                            <path d="M10 14h4v4h-4z" />
                            <path d="M12 4l0 10" />
                            <path d="M12 18l0 2" />
                            <path d="M16 5h4v4h-4z" />
                            <path d="M18 4l0 1" />
                            <path d="M18 9l0 11" />
                        </svg>
                    </button>

                    <a href="{{url}}/nuevo"
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm font-medium text-gray-700 bg-gray-300 h-10 px-4 py-2 hover:bg-[#223362] hover:text-white duration-200">
                        Agregar Pieza
                    </a>

                </div>
            </div>
            <div class="relative w-full overflow-auto rounded-xl shadow-md">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 bg-[#cdcdcd]">
                        <tr>
                            <th scope="col" class="m-auto px-6 py-3">
                                <label class="relative flex cursor-pointer items-center p-1 rounded-md">
                                    <input type="checkbox"
                                        class="peer cursor-pointer appearance-none relative h-5 w-5 bg-gray-500/25 border border-gray-400 transition-all checked:border-yellow-500 checked:bg-yellow-500 rounded-md" />
                                    <div
                                        class="pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                                            fill="currentColor" stroke="currentColor" stroke-width="1">
                                            <path fill-rule="evenodd"
                                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                </label>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                N° Registro
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nombre
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Medidas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Material
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fecha Adq.
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Forma Adq.
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Años
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Estado
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cantidad
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Observacion
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each piezas}}
                        <tr class="odd:bg-zinc-200 even:bg-[#cdcdcd] border-b">
                            <td class="m-auto px-6 py-3">
                                <label class="relative flex cursor-pointer items-center p-1 rounded-md">
                                    <input type="checkbox"
                                        class="peer cursor-pointer appearance-none relative h-5 w-5 bg-gray-500/25 border border-gray-400 transition-all checked:border-yellow-500 checked:bg-yellow-500 rounded-md" />
                                    <div
                                        class="pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20"
                                            fill="currentColor" stroke="currentColor" stroke-width="1">
                                            <path fill-rule="evenodd"
                                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                </label>
                            </td>
                            <td class="px-6 py-4">
                                {{this.NumeroRegistro}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.NombrePieza}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.MedidaPieza}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.MaterialObjeto}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.FechaAdquisicion}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.FormaAdquirida}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.AñoPieza}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.EstadoPieza}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.Cantidad}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.Observacion}}
                            </td>
                            <td class="px-2 py-4 space-x-2.5">
                                <a href="#" class="font-medium text-blue-600 hover:underline">Editar</a>
                                <a href="#" class="font-medium text-red-600 hover:underline">Eliminar</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('toggle');
        const menu = document.getElementById('menu');
        const dropdown = document.getElementById('dropdown');
        const body = document.body;

        toggle.addEventListener('click', function () {
            menu.classList.toggle('hidden');
        });

        body.addEventListener('click', function (event) {
            if (!menu.contains(event.target) && !toggle.contains(event.target)) {
                menu.classList.add('hidden');
            }
        });
    });



    const searchContainer = document.querySelector('.search-container');
    const searchIcon = document.querySelector('.search-icon');
    const searchInput = document.querySelector('.search-input');

    searchIcon.addEventListener('click', () => {
        searchContainer.classList.toggle('w-72');
        searchInput.classList.toggle('w-full');
        searchInput.classList.toggle('hidden');
        if (searchContainer.classList.contains('w-72')) {
            searchInput.focus();
        }
    });

    document.addEventListener('click', (event) => {
        if (!searchContainer.contains(event.target) && searchContainer.classList.contains('w-72')) {
            searchContainer.classList.remove('w-72');
            searchInput.classList.remove('w-full');
            searchInput.classList.add('hidden');
        }
    });

</script>
